<div class="container mt-5 pb-2 pt-5">
  <div class="card">
    <div class="card-header text-center">
      <h3>Update Your Account</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field form-group mb-3">
              <%= f.label :email, class: "form-label fw-bold" %><br />
              <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="field form-group mb-3">
              <%= f.label :password, class: "form-label fw-bold" %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <div class="field form-group mb-3">
              <%= f.label :password_confirmation, class: "form-label fw-bold", class: "form-label fw-bold" %><br />
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
            </div>
            <div class="field form-group mb-3">
              <%= f.label :current_password, class: "form-label fw-bold" %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
            </div>
            <div class="actions mb-3">
              <%= f.submit "Update", class: "btn btn-success" %>
            </div>
          <% end %><br />
          <p>Want to permanently delete your account? <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"  %></p>
          <br />
          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      “You do not need a silver fork to eat good food.” ~ By Paul Prudhomme
    </div>
  </div>
</div>
