<div class="container d-flex justify-content-end">
 <% if can? :update, recipe %>
  <%= form_with model: recipe, url: recipe_path(recipe.id), method: :patch do |f| %>
    <%= f.hidden_field :name, {value: recipe.name} %>
    <%= f.hidden_field :preparation_time, {value: recipe.preparation_time} %>
    <%= f.hidden_field :cooking_time, {value: recipe.cooking_time} %>
    <%= f.hidden_field :description, {value: recipe.description} %>
    <%= f.label :public %>
    <%= f.check_box :public, onchange: 'this.form.submit()', checked: recipe.public %>
  <% end %>
 <% end %>
</div>

<div class="container my-4">
<div class="row mb-3">
<div class="col-md-9">
  <%= link_to 'General shopping list', recipes_foods_path, class: 'btn btn-primary' %>
</div>

<div class="col-md-3 d-flex justify-content-end">
 <div>
 <%= link_to 'Add Ingredient', new_recipes_food_path, class: 'btn btn-primary' %>
 </div>

</div>
</div>
</div>
</div>
