<div class="container">
<div class="card">
  <div class="card-header">
    Recipe Details
  </div>
  <div class="card-body justify-content-start">
    <table class="table table-sm table-striped text-left">
      <tr>
        <td>Food</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Delete</td>
      </tr>
      <% recipe.recipes_foods.each do |food_item| %>
        <tr>
          <td><%= food_item.food.name %></td>
          <td><%= "#{food_item.quantity} #{food_item.food.measurement_unit}" %></td>
          <td><%= "$#{ food_item.quantity * food_item.food.price}" %></td>
          <td>
            <%= form_with url: recipes_food_path(food_item.id), method: :delete, local: true, scope: :recipe_food do |f| %>
              <%= f.hidden_field :recipe_id, {value: recipe.id} %>
              <%= f.hidden_field :quantity, {value: food_item.quantity} %>
              <%= f.hidden_field :food_id, {value: food_item.food_id} %>
              <%= f.submit 'Delete' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="card-footer text-muted">
    ~Great Food!!~
  </div>
</div>
</div>
