<div class="container mt-4 pt-3 pb-3">
  <div class="row bg-light">
    <div class="col-sm-3 p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text"><%= recipe.name %></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-success px-0"><strong>Preparation time:</strong> <%= recipe.preparation_time %>mins</li>
            <li class="list-group-item text-success px-0"><strong>Cooking time:</strong> <%= recipe.cooking_time %> hr</li>
          </ul>
          <% if can? :destroy, recipe %>
            <%= button_to "Remove", @recipe, method: :delete, class: "btn btn-danger btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9 p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text"><%= recipe.description %></p>
          <%= link_to "Show this recipe", recipe %>
        </div>
      </div>
    </div>
  </div>
</div>
