<div class="login-page bg-light">
  <div class="container mt-5 pb-2 pt-5">
    <div class="card">
      <div class="card-header text-center">
        <h3>Sign In Now</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="bg-white shadow rounded">
              <div class="row">
                <div class="col-md-7 pe-0">
                  <div class="form-left h-100 py-5 px-5">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="field form-group mb-3">
                        <%= f.label :username, class: "form-label fw-bold" %><br />
                        <%= f.text_field :username, class: "form-control", autofocus: true, autocomplete: "email" %>
                      </div>
                      <div class="field form-group mb-3">
                        <%= f.label :password, class: "form-label fw-bold" %><br />
                        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
                      </div>
                      <% if devise_mapping.rememberable? %>
                        <div class="field form-group mb-3">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end %>
                      <div class="actions mb-3">
                        <%= f.submit "Log In", class: "btn btn-primary" %>
                      </div>
                    <% end %>
                    Don't have an account yet? <%= render "devise/shared/links" %>
                  </div>
                </div>
                <div class="col-md-5 ps-0 d-none d-md-block">
                  <div class="form-right h-100 text-white text-center">
                    <%= image_tag("header-bg.jpg",class: "img", alt: "Login Background")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted text-center">
        “You do not need a silver fork to eat good food.” ~ By Paul Prudhomme
      </div>
    </div>
  </div>
</div>
