<h1> Foods List </h1>
<div><%= link_to 'Add Food', new_food_path() %></div>
<table>
  <tr>
    <td>No</td>
    <td>Food</td>
    <td>Measurement Unit</td>
    <td>Quantity</td>
    <td>Unit Price</td>
    <td>Actions</td>
  </tr>
<% @foods.each.with_index do |food, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= food.name %></td>
    <td><%= food.measurement_unit %></td>
    <td><%= food.quantity %></td>
    <td><%= "$#{food.price}" %></td>
    <td>
    <% if can? :destroy, food %> 
      <%= form_with url: food_path(food.id), method: :delete do |f| %>
        <%= f.submit 'Delete' %>
      <% end %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>