<div class="mt-2">
<%= form_with url: recipes_foods_path, method: :post, local: true, scope: :recipe_food do |f| %>
  <div class="form-group">
    <%= f.select :food_id, options_for_select(@food_items), {}, { :class => 'form-select mb-3' } %>
  </div>

  <div class="form-group">
    <%= f.select :recipe_id, options_for_select(@recipe_items), {}, { :class => 'form-select mb-3' } %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: 'form-control mb-3' %>
  </div>
  <div>
    <%= f.submit :add, class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
</div>