<div class="container my-5">
<h1 class="text-center">Shopping List </h1>
<div class="d-flex justify-content-between mb-3">
  <p>Amount of items to buy: <%= @foods.size %></p>
  <p>Total value of food need: <%= "$#{@sum}" %></p>
</div>

<table class="table table-sm table-striped table-bordered border-dark ">
  <tr>
    <th> Food Item </th>
    <th> Quantity </th>
    <th> Price </th>
    <th> Total </th>
  </tr>
  <% @foods.each do |food_item| %>
      <tr>
        <td><%= food_item.food.name %></td>
        <td><%= food_item.quantity %></td>
        <td><%= "$#{ food_item.food.price }" %></td>
        <td><%= "$#{ food_item.food.price * food_item.quantity }" %></td>
      </tr>
    <% end %>
</table>
</div>